<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="523" class="elementor elementor-523" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-cbcc8fe elementor-section-height-full elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="cbcc8fe" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c43f399" data-id="c43f399" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-1862b3c elementor-widget elementor-widget-heading" data-id="1862b3c" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">ACTIVITES &amp; COMPETITIONS</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-10ee468 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="10ee468" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f3b025c" data-id="f3b025c" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-9ce8e73 elementor-widget elementor-widget-eael-advanced-data-table" data-id="9ce8e73" data-element_type="widget" data-widget_type="eael-advanced-data-table.default">
                        <div class="elementor-widget-container">
                          <div class="ea-advanced-data-table-wrap" data-id="9ce8e73">
                            <div class="ea-advanced-data-table-wrap-inner">
                              <table class="ea-advanced-data-table ea-advanced-data-table-static ea-advanced-data-table-9ce8e73" data-id="9ce8e73">
                                <thead>
                                  <tr>
                                    <th>CLASSWISE COMPETITIONS FOR THE ACADEMIC SESSION 2019-20</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1)     Paper Craft Making ( I to IX )</td>
                                  </tr>
                                  <tr>
                                    <td>2)     Rakhi Making ( I to IX )</td>
                                  </tr>
                                  <tr>
                                    <td>3)     Lantern Making ( V to IX )</td>
                                  </tr>
                                  <tr>
                                    <td>4)     Diya Decoration ( I to IX ) </td>
                                  </tr>
                                  <tr>
                                    <td>5)     Drawing Competition ( I to IX ) </td>
                                  </tr>
                                  <tr>
                                    <td>6)     Colouring Competition ( I to IV )</td>
                                  </tr>
                                  <tr>
                                    <td>7)     Pot Decoration ( V to IX ) </td>
                                  </tr>
                                  <tr>
                                    <td>8)     English Handwriting Competition ( I to IX )</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->