<!-- <div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="404" class="elementor elementor-404" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-6b8b7a3 elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="6b8b7a3" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5062d2b" data-id="5062d2b" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-ee4d907 elementor-widget elementor-widget-heading" data-id="ee4d907" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-2b9c8ab elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2b9c8ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-363a52ea" data-id="363a52ea" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-7f7388b8 elementor-widget elementor-widget-heading" data-id="7f7388b8" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-large">Admission procedure</h3>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-598c4622 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default" data-id="598c4622" data-element_type="section">
                        <div class="css-1s35def">
                          <div class="css-0">
                            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_bottom-to-top bottom-to-top vc_custom_1560323811387 wpb_start_animation animated" style="box-sizing: inherit; letter-spacing: normal; margin-bottom: 35px; opacity: 1; animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal both running wpb_btt; color: rgb(52, 62, 71); font-family: Lato; font-size: 16px; padding-right: 20px !important;">
                              <div class="wpb_wrapper" style="box-sizing: inherit; margin-bottom: 0px;">
                                <div align="justify" style="box-sizing: inherit; margin-bottom: 0px;">
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Admissions Procedure, The classes for every academic year will commence from the first week of April. The registrations for admissions are open from the middle of September subject to availability of seats.</p>
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Admission Procedure For&nbsp;<a href="https://www.drsinternational.com/" style="box-sizing: inherit; color: rgb(52, 62, 71); touch-action: manipulation; line-height: 22px; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s; margin: 0px;">Kindergarten</a>&nbsp;to Grade IX</h5>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Bright Land School School has classes from Kindergarten to Grade XII.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">All students (seeking admission in Grade II to Grade IX) will have to appear for an Aptitude Test in English, Mathematics (and Science for Grade VIII and IX) and Second Language to qualify for admission.&nbsp;<span style="box-sizing: inherit; font-weight: bolder;">As a matter of policy, we do not admit students in Grade X and XII.</span><br style="box-sizing: inherit;"><span style="box-sizing: inherit; font-weight: bolder; margin-bottom: 0px;"><br style="box-sizing: inherit; margin-bottom: 0px;">Admission will be confirmed only after assessing the performance of the child in the Aptitude Test and in a Personal Interview with the respective Coordinators of the Class. On confirmation of admission, parents will be required to submit a Conduct Certificate &amp; Transfer certificates from the school attended previously along with a Recommendation letter.</span></p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">The question papers will be based on the general syllabi, not on the current textbooks. Kindly note that the child should be at least 5 years old for admission in Grade I.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 0px;"><span style="box-sizing: inherit; font-weight: bolder; margin-bottom: 0px;">We do admit children during the middle of the academic year in the same class in which the child is studying, in the previous school.</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_bottom-to-top bottom-to-top wpb_start_animation animated" style="box-sizing: inherit; letter-spacing: normal; margin-bottom: 35px; opacity: 1; animation: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 normal both running wpb_btt; color: rgb(52, 62, 71); font-family: Lato; font-size: 16px;">
                              <div class="wpb_wrapper" style="box-sizing: inherit; margin-bottom: 0px;">
                                <div align="justify" style="box-sizing: inherit; margin-bottom: 0px;">
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Registration does not Guarantee Admission.</h5>
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">For Class XI</h5>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">For admission in Class XI, parents are required to visit the school with the candidate for a Personal Interview and an Aptitude Test in English and Mathematics. The academic reports of classes VIII, IX and X along with a Character Certificate from the last school are mandatory for admission. Kindly note that admission for Grade XI and the choice of subjects / stream will be considered purely based on the results of the board exams and the stream taken.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">It is very important that both parents of the student should visit the school for signing the documents and also ascertain the facilities offered by the school. Please note that the school does not encourage nomination of guardian for our students. Only non-resident Indian and foreign parents of students are permitted to specify one guardian for their children. Only parents (or authorized guardian in case of non-resident Indian and foreign students) whose name is entered in the school records at the time of admission, will be permitted to take the students out for mid-term break / vacation / outing etc. Parents of other students, family friends and local people will not be considered as guardians.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 0px;">Our aim is to see that every child is happy once he/she joins the school and we expect the same from the parents also. We will not admit any child unless the father/mother or a responsible person from the family visits the school.</p>
                                </div>
                              </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element " style="box-sizing: inherit; letter-spacing: normal; margin-bottom: 35px; color: rgb(52, 62, 71); font-family: Lato; font-size: 16px;">
                              <div class="wpb_wrapper" style="box-sizing: inherit; margin-bottom: 0px;">
                                <div align="justify" style="box-sizing: inherit;">
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Obtaining the application form</h5>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Parents who wish to apply for admission should obtain the brochure and application form on payment . This can be rendered in cash or demand draft drawn in favor of l School, payable at Hyderabad. The application form can be down loaded from the net and apply through the net. (With a nonrefundable fee&nbsp;</p>
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Criteria for submission of application form</h5>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">The duly completed application form must be submitted in the School Office on or before the stipulated date. The following documents should accompany the form: Certified copy of School Report of the previous academic year (if applicable).</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Six passport size photographs and two stamp size photographs of the student. Parents One Each Photograph.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">One certified copy of Child’s Birth Certificate.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">One certified copy each of details including dates and grades of any Public/Board Examinations already taken (if applicable).</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Copy of the T.C. (If possible).</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Original documents of the submitted photocopies should be made available upon request for verification.</p>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">The mere submission of an application form does not guarantee admission to the school.</p>
                                  <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Age criteria for application of admission</h5>
                                  <p style="box-sizing: inherit; margin-bottom: 10px;">Children have to meet the stipulated age requirement for admission to Bright Land&nbsp; School as on June 1st of that year. The required age limit for each grade is mentioned in the table. The stipulated age limit may be relaxed at the discretion of the School Admission Committee based on past academic achievements and performance in our testing procedures, provided the student has graduated from a recognized school.</p>
                                  <div style="box-sizing: inherit; margin-bottom: 0px;"></div>
                                </div>
                                <div class="wpb_text_column wpb_content_element " style="box-sizing: inherit; margin-bottom: 35px;">
                                  <div class="wpb_wrapper" style="box-sizing: inherit; margin-bottom: 0px;">
                                    <table id="tablepress-1" class="tablepress tablepress-id-1" style="box-sizing: inherit; border: none; font-size: 14px; line-height: 2; margin: 0px; width: 847px;">
                                      <thead style="box-sizing: inherit;">
                                        <tr class="row-1 odd" style="box-sizing: inherit; margin-bottom: 0px;">
                                          <th class="column-1" style="box-sizing: inherit; padding: 8px; text-align: inherit; border-top: none; border-right: none; border-bottom: 1px solid rgb(221, 221, 221); border-left: none; border-image: initial; background: 0px 0px rgb(217, 237, 247); vertical-align: middle; float: none !important;">Grade</th>
                                          <th class="column-2" style="box-sizing: inherit; padding: 8px; text-align: inherit; border-top: none; border-right: none; border-bottom: 1px solid rgb(221, 221, 221); border-left: none; border-image: initial; background: 0px 0px rgb(217, 237, 247); vertical-align: middle; float: none !important;">Age</th>
                                          <th class="column-3" style="box-sizing: inherit; padding: 8px; text-align: inherit; border-top: none; border-right: none; border-bottom: 1px solid rgb(221, 221, 221); border-left: none; border-image: initial; background: 0px 0px rgb(217, 237, 247); vertical-align: middle; float: none !important;">Grade</th>
                                          <th class="column-4" style="box-sizing: inherit; padding: 8px; text-align: inherit; border-top: none; border-right: none; border-bottom: 1px solid rgb(221, 221, 221); border-left: none; border-image: initial; background: 0px 0px rgb(217, 237, 247); vertical-align: middle; margin-bottom: 0px; float: none !important;">Age</th>
                                        </tr>
                                      </thead>
                                      <tbody class="row-hover" style="box-sizing: inherit; margin-bottom: 0px;">
                                        <tr class="row-2 even" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade IK I</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">2 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade VI</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; margin-bottom: 0px; float: none !important;">10 Years 6Months</td>
                                        </tr>
                                        <tr class="row-3 odd" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade IK II</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">3 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade VII</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; margin-bottom: 0px; float: none !important;">11 Years 6Months</td>
                                        </tr>
                                        <tr class="row-4 even" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade IK III</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">4 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade VIII</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; margin-bottom: 0px; float: none !important;">12 Years 6Months</td>
                                        </tr>
                                        <tr class="row-5 odd" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade I</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">5 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade IX</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; margin-bottom: 0px; float: none !important;">13 Years 6Months</td>
                                        </tr>
                                        <tr class="row-6 even" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade II</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">6 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade X</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; margin-bottom: 0px; float: none !important;">14 Years 6Months</td>
                                        </tr>
                                        <tr class="row-7 odd" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade III</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">7 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Diploma Grade 11</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; margin-bottom: 0px; float: none !important;">15 Years 6Months</td>
                                        </tr>
                                        <tr class="row-8 even" style="box-sizing: inherit;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Grade IV</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">8 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; float: none !important;">Diploma Grade 12</td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background-image: initial; background-position: 0px 0px; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: top; margin-bottom: 0px; float: none !important;">16 Years 6Months</td>
                                        </tr>
                                        <tr class="row-9 odd" style="box-sizing: inherit; margin-bottom: 0px;">
                                          <td class="column-1" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">Grade V</td>
                                          <td class="column-2" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;">9 Years 6Months</td>
                                          <td class="column-3" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; float: none !important;"></td>
                                          <td class="column-4" style="box-sizing: inherit; padding: 8px; border-top: 1px solid rgb(221, 221, 221); border-right: none; border-bottom: none; border-left: none; border-image: initial; background: 0px 0px rgb(249, 249, 249); vertical-align: top; margin-bottom: 0px; float: none !important;"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                <div class="wpb_text_column wpb_content_element " style="box-sizing: inherit; margin-bottom: 0px;">
                                  <div class="wpb_wrapper" style="box-sizing: inherit; margin-bottom: 0px;">
                                    <div align="justify" style="box-sizing: inherit;">
                                      <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Admissions Procedure List</h5>
                                    </div>
                                    <p style="box-sizing: inherit; margin-bottom: 10px;">The outcome of the admission will be conveyed to the parents after the interaction. The names of the selected candidates will also be displayed in the school office. The decision of the School Admission Committee will be final and binding and no further discussions will be entertained.</p>
                                    <h5 style="box-sizing: inherit; font-family: Raleway; font-weight: 700; line-height: 22px; color: rgb(52, 62, 71); margin: 0px 0px 10px; font-size: 16px; clear: both; opacity: 1; visibility: visible; transition: opacity 0.24s ease-in-out 0s;">Residential School Students</h5>
                                    <p style="box-sizing: inherit; margin-bottom: 0px;">Residential School Students are required to submit the following additional documents<br style="box-sizing: inherit;">a) Fitness Certificate<br style="box-sizing: inherit;">b) Medical History<br style="box-sizing: inherit;">c) Blood Group Report<br style="box-sizing: inherit;">d) Undertakings and agreement signed by parents<br style="box-sizing: inherit;"><span style="box-sizing: inherit; font-weight: bolder;">You can submit the application online or download the application, take a printout, fill it and send the same to us.</span><br style="box-sizing: inherit;"><span style="box-sizing: inherit; font-weight: bolder; margin-bottom: 0px;">Registration forms are in pdf format. To view/print the registration forms you need Acrobat Reader.</span></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content --> -->