<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <!--<h1 data-title="contact"><span>contact</span></h1>-->
    </div>
  </div>
</section>
<section class="ptb ptb-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>CONTACT US</h2>
        <p class="lead"> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 contact pb-60 pt-30">
        <div class="row">
          <div> <i class="fa fa-phone icon-circle"></i><p class="mt-15 i-block contact-us">+91-9760013590, 8057600091</p>
          </div>
          <div style="padding-top:5px">
            <i class="fa fa-map-marker icon-circle"></i>
            <p class="mt-15 i-block contact-us">
              Gonchh, Kotla Road<br />Firozabad (U.P.) 283203
            </p>
          </div>
          <div> 
            <i class="fa fa-envelope icon-circle"></i><a href="mailto:santparamdayal@gmail.com" class="mt-15 i-block contact-us">santparamdayal@gmail.com</a> 
          </div>
          <div style="padding-top:18px">
            <i class="fa fa-clock-o icon-circle"></i><a href="%c3%82%c2%a3.html" class="mt-15 i-block contact-us">School Timing <br />
                        8AM-4PM</a> 
          </div>
        </div>
      </div>
      <div class="col-sm-6 contact pb-60 pt-30">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=SANT PARAM DAYAL SR. SEC. SCHOOL Gonchh, Kotla Road Firozabad Uttar Pradesh 283203&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="SANT PARAM DAYAL SR. SEC. SCHOOL Gonchh, Kotla Road Firozabad Uttar Pradesh 283203" aria-label="SANT PARAM DAYAL SR. SEC. SCHOOL" width="100%" height="320" frameborder="0" style="border:0; padding-bottom:20px" allowfullscreen></iframe>
    </div>   
  </div>
</section>
<style type="text/css">
  .bg-img{
    background: url("<%= asset_path('about1.jpg') %>") 0 20% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .fa{
    font: normal normal normal 14px/2 FontAwesome;
  }
</style>

