<section class="inner-intro about-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
    </div>
  </div>
</section>
<section class="padding ptb-xs-60">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="heading-box pb-30">
                <center><h2><span>Fee</span> Structure 2024-25</h2></center>
              </div>
              <div>
                <% @document = Document.find_by(name: "fee_structure", is_active: true) %>
                <% if @document && @document.file.url %>
                  <iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="<%= asset_path(@document.file.url) %>" frameborder="1" scrolling="auto" height="700" width="100%" ></iframe>
                  </object>
                <% else %>
                  <iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="<%= asset_path('fee_stracture.pdf') %>" frameborder="1" scrolling="auto" height="700" width="100%" ></iframe>

                <% end %>
                <!-- <object data="/assets/FEES-DETAILS-2021-2022.pdf" type="application/pdf" width="100%" height="700"></object> -->
              </div>
              <div>
                <ul class="inner" style="list-style:none; padding-left:5px">
                 <li> If the entire fee of a scholar deposited at a time of admission, 10% concession will be given in tuition fee.</li>
                 <li> If any student does not want to use school convenience then he/she is free to come by their own vehicle (cycle or with parents).</li>
                 <li> For availing bus facility contact school office.</li>
                 <li> If any student discontinues the Bus facility in the mid session, the bus fee will not be exempted in any condition.</li>
                 <li> If two real Brothers/Sisters are studying as scholar than 10% concession in tuition fee will be given to the Younger's fee.</li>
                 <li> If the student takes the admission in July, then he/she must deposit four months (April to July) fee at the time of admission.</li>
                 <li> School fee can be paid in quarterly installment.</li>
                 <li> Case pertaining to refund of fee will not be subject to litigation. Fee once paid will not be refunded in any condition.</li>
                 <li>
                     Special 50% discount on admission fee for girls child under “BETI BACHAO BETI PADHAO" Campaign of Government of
                     India.
                 </li>
                 <li> 10% fee concession on tuition fee is given to the ward's of serving / retired / widow's of defense personnel.</li>
                 <li> Special 10% discount on admission fee of Teachers / Defense Personnel.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .about-img{
    background: url("<%= asset_path('about1.jpg') %>") 0 20% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>
