<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="243" class="elementor elementor-243" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-635741c7 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-68948206" data-id="68948206" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-55c4b485 elementor-widget elementor-widget-image" data-id="55c4b485" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img src="/assets/manager.jpg" class="attachment-full size-full" alt="" loading="lazy" width="332" height="331">
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-7f47409 elementor-widget elementor-widget-heading" data-id="7f47409" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Manish Kumar tiwari<br></h2>
                          <h6>MANAGER</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-47678a04" data-id="47678a04" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-5d1bb95 elementor-widget elementor-widget-heading" data-id="5d1bb95" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Our FOUNDER's Message</h2>
                        </div>
                      </div>
                      <section class="elementor-section elementor-inner-section elementor-element elementor-element-7a21ae44 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a21ae44" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                          <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-3590507a" data-id="3590507a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                              <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                  <div class="elementor-element elementor-element-1dea699b elementor-widget elementor-widget-text-editor" data-id="1dea699b" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                      <div class="elementor-text-editor elementor-clearfix">
                                        <p>The year 2011 marked the beginning of an era as the gates of Dewa International school opened to cater to the education. As we are ready to set our foot in the 7th year of functioning, it gives me immense pleasure to share with you that this institution is one of the leading school in RAIBARELI imparting quality education at an affordable cost.</p><br>
                                        <p>School is not merely a building, furniture and staffs but it the students who complete the existence of school. Teachers are the most influential people in the lives of young children whatever teaching they give to their students they follow them. So I want to make an appeal to respectable fraternity of academic staff that never let down the honour shown to us by the society to lead the nation by making your students as honorable citizen of the country.</p>
                                        <p>It is rightly said that <b>“A dream becomes a goal when action is taken towards its achievement”</b> and we are committed in taking constructive and purposeful actions to produce optimistic, independent, compassionate, life-long learners and leaders who will bring glory to the School, State and the Nation.</p>
                                        <br>

                                        <b><i>“The aim of education should be to teach us rather how to think, than what to think — rather to improve our minds, so as to enable us to think for ourselves, than to load the memory with thoughts of other men.”</i></b>
                                        <br><br>
                                        <b>Jai Hind <br>Manish Kumar tiwari</b>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
<style type="text/css">
  p{
    line-height: 20px;
  }
  .elementor-size-default{
    padding-bottom: 10px;
  }
</style>
