<div id="content" class="site-content">
	<div class="hmc-container">
  	<div id="breadcrumbs" class="centurylib-breadcrumbs-wrapper">
      <div class="breadcrumbs-wrap layout1 no-image" style="background-image:url(&quot;&quot;);">
        <div class="centurylib-bdcb-container">
          <div role="navigation" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
          	<ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending">
          		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="http://awsetawah.edu.in/" rel="home"><span itemprop="name">Home</span></a><meta content="1"></li>
          		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="name">Infirmary</span><meta content="2"></li>
          	</ul>
          </div>
        </div><!-- .container -->
			</div>
    </div><!-- #breadcrumb -->
		<div id="primary" class="content-area main-content-area">
			<main id="main" class="site-main" role="main">
				<article id="post-539" class="post-539 page type-page status-publish hentry">
					<div class="hmc-article-thumb">
					</div><!-- .hmc-article-thumb -->
					<header class="entry-header">
						<h1 class="entry-title">Infirmary</h1>	
					</header><!-- .entry-header -->
					<div class="entry-content">
					</div><!-- .entry-content -->
				</article><!-- #post-539 -->
			</main><!-- #main -->
		</div><!-- #primary -->
	</div><!-- .hmc-container -->
</div><!-- #content -->