<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="581" class="elementor elementor-581" data-elementor-settings="[]">
      <div class="elementor-inner container mt-5">
        <section>
          <h2 class="text-center"><b>LIBRARY</b></h2>
          <br>
          <h4>A library opens the portals to the infinite world of knowledge. SANT PARAM DAYAL HR. SEC. SCHOOL possess well-stocked library with numerous books and periodicals which includes encyclopedias, dictionaries, G.S., standard reference books and many more. A library of wisdom is more precious than all wealth. The library is open from 9:00am to 1:30pm for the student and staff use.</h4>
          <hr>
        </section>
        <section>
          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("library1.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("library2.jpeg", class: "") %>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb mt-5">
              <a href="#-" class="fancybox" target="_blank" rel="ligthbox">
                <%= image_tag("library-1.jpeg", class: "") %>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->
