<section class="inner-intro mission-img light-color overlay-before parallax-background">
<div class="container">
  <div class="row title">
  </div>
</div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>SANT PARAM DAYAL SR. SEC.</span> School</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 pb-xs-30">
        <div class="text-content">
          <h3>Our Mission</h3>
          <p style="text-align:justify">
            Our mission is to strive to discover true knowledge and learning and with each passing year, our endeavour continues.
          </p>                                                  
        </div>
        <div class="text-content">
          <h3>Our Vision</h3>
          <p style="text-align:justify">
            We, at SANT PARAM DAYAL SR. SEC. SCHOOL, are led by our vision of giving valuable learning experience and quality education to our students with the blend of technology and culture.
          </p>
        </div>
        <div class="text-content">
          <h3>Our Aim</h3>
          <p style="text-align:justify">
            We aim to provide a positive learning environment which encourages and empowers all our students to develop high sense of responsible citizenship which includes a deep sense ofjustice, an unshaken faith in humanity, an acute concern of our surroundings and an abiding faith in honesty and integrity.
          </p>
        </div>          
      </div>
      <div class="col-sm-3">
        <%= render 'layouts/side_bar' %>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .mission-img{
    background: url("<%= asset_path('mission1.jpg') %>") 0 20% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>