<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="241" class="elementor elementor-241" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-e6d6b0b elementor-section-full_width elementor-section-height-full elementor-section-stretched elementor-section-height-default elementor-section-items-middle" data-id="e6d6b0b" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a2ac834" data-id="a2ac834" data-element_type="column">
                  <div class="elementor-column-wrap">
                    <div class="elementor-widget-wrap">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-1afdd31 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1afdd31" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7a2a275e" data-id="7a2a275e" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-3f7d265a elementor-widget elementor-widget-image" data-id="3f7d265a" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img src="<%= asset_path('unnamed.jpg')%>" class="attachment-large size-large" alt="" loading="lazy" width="512" height="341">											
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-72178daa" data-id="72178daa" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-5c1e2a69 elementor-view-default elementor-widget elementor-widget-icon" data-id="5c1e2a69" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" height="496pt" viewBox="0 -72 496 496" width="496pt">
                                <path d="m248 80c-66.167969 0-120 53.832031-120 120s53.832031 120 120 120 120-53.832031 120-120-53.832031-120-120-120zm104 120c0 25.800781-9.496094 49.382812-25.113281 67.574219l-70.886719-70.886719v-100.28125c53.609375 4.105469 96 48.945312 96 103.59375zm-112-103.59375v95.59375h-95.59375c3.90625-50.960938 44.632812-91.6875 95.59375-95.59375zm-95.59375 111.59375h100.28125l70.886719 70.886719c-18.191407 15.617187-41.773438 25.113281-67.574219 25.113281-54.648438 0-99.480469-42.390625-103.59375-96zm0 0"></path>
                                <path d="m446.785156 255.734375 43.351563-55.734375-43.351563-55.734375c-47.585937-61.175781-119.320312-96.265625-196.824218-96.265625h-8.058594c-74.78125 0-144.941406 33.113281-192.488282 90.832031l-43.550781 52.886719 43.351563 58.832031c45.847656 62.226563 118.824218 99.792969 195.960937 101.296875.945313.023438 1.871094.152344 2.824219.152344.246094 0 .480469-.03125.726562-.039062.410157 0 .816407.039062 1.234376.039062 77.511718 0 149.246093-35.089844 196.824218-96.265625zm-198.058594 80.226563c-1.183593-.007813-2.367187-.082032-3.550781-.105469-73.679687-1.527344-133.175781-61.816407-133.175781-135.855469 0-74.992188 61.007812-136 136-136s136 61.007812 136 136c0 74.742188-60.617188 135.566406-135.273438 135.960938zm-186.628906-94.882813-35.960937-48.804687 35.632812-43.265626c24.796875-30.113281 56.175781-53.039062 91.207031-67.457031-34.6875 27.882813-56.976562 70.585938-56.976562 118.449219 0 43.390625 18.375 82.496094 47.640625 110.214844-31.792969-16.277344-59.90625-39.765625-81.542969-69.136719zm337.902344-41.078125c0-45.839844-20.488281-86.910156-52.6875-114.808594 33.535156 15.375 63.351562 38.695313 86.839844 68.898438l35.710937 45.910156-35.710937 45.902344c-23.488282 30.203125-53.296875 53.53125-86.839844 68.90625 32.199219-27.898438 52.6875-68.96875 52.6875-114.808594zm0 0"></path>
                                <path d="m248 16c145.71875 0 232.425781 131.023438 233.289062 132.351562l13.429688-8.695312c-3.695312-5.703125-92.144531-139.65625-246.71875-139.65625s-243.023438 133.953125-246.710938 139.65625l13.429688 8.695312c.855469-1.328124 87.5625-132.351562 233.28125-132.351562zm0 0"></path>
                                <path d="m176 232h64v16h-64zm0 0"></path>
                                <path d="m232 264h48v16h-48zm0 0"></path>
                                <path d="m200 264h16v16h-16zm0 0"></path>
                                <path d="m184 128h40v16h-40zm0 0"></path>
                                <path d="m184 160h40v16h-40zm0 0"></path>
                                <path d="m280 192h16v16h-16zm0 0"></path>
                                <path d="m312 192h16v16h-16zm0 0"></path>
                                <path d="m0 264h16v16h-16zm0 0"></path>
                                <path d="m0 296h16v16h-16zm0 0"></path>
                                <path d="m0 328h16v16h-16zm0 0"></path>
                                <path d="m32 296h16v16h-16zm0 0"></path>
                                <path d="m32 328h16v16h-16zm0 0"></path>
                                <path d="m64 328h16v16h-16zm0 0"></path>
                                <path d="m384 328h112v16h-112zm0 0"></path>
                                <path d="m432 296h64v16h-64zm0 0"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-1f114a6a elementor-widget elementor-widget-heading" data-id="1f114a6a" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-large">OUR VISION</h3>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-1debff07 elementor-widget elementor-widget-text-editor" data-id="1debff07" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            Our Approach : How We Achieve It Pursue excellence and all else shall follow. We aspire to instill the right attitude, values and vision that will prepare the students for lifetime of continued learning and leadership in their chosen careers.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-27d67f91 elementor-section-content-middle elementor-reverse-mobile elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="27d67f91" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f27182d" data-id="f27182d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-31cc9374 elementor-view-default elementor-widget elementor-widget-icon" data-id="31cc9374" data-element_type="widget" data-widget_type="icon.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" height="512" viewBox="0 0 512.001 512.001" width="512">
                                <g>
                                  <path d="m445.66 123.82c4.796 0 9.42-1.903 12.831-5.315l50.268-50.268c6.717-6.717 2.343-18.245-7.121-18.839l-26.75-1.679 17.455-17.455c2.929-2.929 2.929-7.678 0-10.606-2.93-2.929-7.678-2.929-10.607 0l-17.455 17.455-1.679-26.75c-.595-9.481-12.134-13.825-18.839-7.121l-50.269 50.268c-3.681 3.681-5.604 8.772-5.278 13.967l1.728 27.528c-41.954-35.772-96.025-56.286-153.303-56.286-130.79 0-236.641 105.838-236.641 236.64 0 59.031 21.86 115.57 61.555 159.2 2.789 3.063 7.532 3.287 10.595.5 3.064-2.788 3.288-7.531.501-10.595-37.177-40.862-57.651-93.815-57.651-149.105 0-122.213 99.428-221.641 221.641-221.641 57.272 0 111.164 21.95 151.475 59.559l-34.222 34.221c-30.949-28.409-72.156-45.794-117.253-45.794-95.753 0-173.654 77.901-173.654 173.654 0 27.558 6.648 55.007 19.228 79.381.001.001.001.002.002.003 29.149 56.481 87.854 94.27 154.425 94.27 82.029 0 153.372-57.939 170.046-138.346.841-4.056-1.765-8.026-5.821-8.867-4.055-.841-8.025 1.765-8.866 5.821-15.188 73.236-80.525 126.392-155.358 126.392-59.609 0-113.675-33.011-141.096-86.149 0-.001-.001-.002-.001-.003-11.65-22.575-17.558-46.968-17.558-72.502 0-87.482 71.172-158.654 158.654-158.654 40.97 0 78.428 15.702 106.649 41.397l-33.917 33.917c-19.464-17.008-44.914-27.328-72.732-27.328-61.022 0-110.667 49.645-110.667 110.667s49.645 110.667 110.667 110.667 110.668-49.645 110.668-110.667c0-27.818-10.32-53.268-27.329-72.732l33.919-33.919c25.496 27.994 41.161 65.09 41.393 105.728.023 4.127 3.377 7.457 7.499 7.457h.044c4.142-.024 7.48-3.401 7.457-7.543-.256-44.735-17.597-85.548-45.786-116.25l34.224-34.224c37.447 40.039 59.551 93.611 59.551 151.482-.001 122.216-99.428 221.644-221.641 221.644-50.629 0-100.135-17.514-139.398-49.315-3.221-2.606-7.94-2.111-10.549 1.107-2.607 3.219-2.111 7.942 1.107 10.549 41.926 33.958 94.785 52.659 148.84 52.659 130.79 0 236.641-105.838 236.641-236.641 0-51.213-16.094-99.954-46.54-140.952-3.152-4.245-6.435-8.36-9.828-12.357 29.401 1.847 27.816 1.77 28.746 1.77zm-113.351 151.539c0 52.751-42.916 95.667-95.668 95.667-52.751 0-95.667-42.916-95.667-95.667s42.916-95.667 95.667-95.667c23.682 0 45.378 8.653 62.102 22.958l-34.13 34.13c-7.864-5.717-17.528-9.102-27.972-9.102-26.291 0-47.681 21.39-47.681 47.681s21.39 47.681 47.681 47.681c26.292 0 47.682-21.39 47.682-47.681 0-10.445-3.385-20.109-9.102-27.972l34.13-34.13c14.304 16.724 22.958 38.42 22.958 62.102zm-100.972 5.304c2.93 2.929 7.678 2.929 10.607 0l22.482-22.482c3.1 4.995 4.896 10.88 4.896 17.179 0 18.021-14.661 32.681-32.682 32.681s-32.681-14.661-32.681-32.681 14.66-32.681 32.681-32.681c6.299 0 12.184 1.796 17.179 4.895l-22.483 22.483c-2.928 2.928-2.928 7.677.001 10.606zm171.85-214.126c-.057-.901.277-1.784.915-2.421l44.078-44.077 1.959 31.216-45.082 45.082zm12.477 40.406 45.082-45.082 31.216 1.959-44.078 44.078c-.637.638-1.527.977-2.421.915z"></path>
                                </g>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-2bbaaf8f elementor-widget elementor-widget-heading" data-id="2bbaaf8f" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h3 class="elementor-heading-title elementor-size-large">OUR MISSION</h3>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-1b5f2c5d elementor-widget elementor-widget-text-editor" data-id="1b5f2c5d" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            Why We Are Here • To impart knowledge in order to activate the intellect, generate curiosity, form proper attitudes , inculcate human values, fearlessness, self reliance and self forget fullness, all of which go to make a perfectly integrated personality. • To provide wholesome development of the child i.e. the intellectual, physical, moral, social and emotional development. • To foster simple values of life in the child’s education at all levels, ensuring promotion of rich Indian values. • To acquaint the students with the nation’s cultural heritage & with the principles of democracy, secularism and national integration. • To grow each child into a creative and confident citizen in wide range of activities so that he/she can achieve success in life. • To raise the potential of each child to stand successfully not only at national level but also in global scenario.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3485a9d2" data-id="3485a9d2" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-fa90a69 elementor-widget elementor-widget-image" data-id="fa90a69" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-image">
                            <img src="<%= asset_path('red-three-arrows-darts-target-circle-business-success-goal-background-sky-sun-creative-idea-vector-illustration_82984-10.jpg') %>" class="attachment-large size-large" alt="" loading="lazy" width="626" height="425">											
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->