<div id="content" class="site-content">
  <div class="hmc-container">
    <div data-elementor-type="wp-page" data-elementor-id="536" class="elementor elementor-536" data-elementor-settings="[]">
      <div class="elementor-inner">
        <div class="elementor-section-wrap">
          <section class="elementor-section elementor-top-section elementor-element elementor-element-a4392cb elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="a4392cb" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-498cde1" data-id="498cde1" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-b03170e elementor-widget elementor-widget-heading" data-id="b03170e" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">DETAILS OF SCHOOL BUILDING </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-a6e4836 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a6e4836" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8c9dfba" data-id="8c9dfba" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-bbd3ff2 elementor-widget elementor-widget-heading" data-id="bbd3ff2" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">DETAILS OF SCHOOL BUILDING</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-cdc5d7e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cdc5d7e" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-959a33d" data-id="959a33d" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-7b71d84 elementor-widget elementor-widget-text-editor" data-id="7b71d84" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <p><strong>INFRASTRUCTURE, Formulate, Frame, Forge &amp;, Facilitate…</strong></p>
                          </div>
                        </div>
                      </div>
                      <div class="elementor-element elementor-element-bae89a6 elementor-widget elementor-widget-text-editor" data-id="bae89a6" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <ul>
                              <li>Spacious, airy, well-ventilated &amp; well-lit classrooms. All rooms are equipped with Smart Boards supported by the latest technology. This e-teaching, using the software specially developed to suit the CBSE curriculum, makes teaching effective &amp; learner friendly.</li>
                              <li>We have an aesthetically planned huge air-conditioned multi-purpose auditorium for recreational and educational activities. It has a seating capacity of 2000 people and is equipped with state-of-the-art sound and light effects.</li>
                              <li>A mini open-air amphitheater with a seating capacity of 300 students.</li>
                              <li>The foreign language labs provide an ambient atmosphere for the enthusiastic learners of the foreign languages taught in the school. Sanskrit, Hindi and English Labs ensure a strong foundation for the respective languages.</li>
                              <li>A resource center for teachers has also been set up to help teachers update their skills.</li>
                              <li>Specialty Rooms like dance rooms, music rooms, art rooms &amp; audio-visual rooms.</li>
                              <li>Modern &amp; well – equipped Science labs, EVS labs, English language lab.</li>
                              <li>5 Computer labs with over 220 computers.</li>
                              <li>A Multi-Media lab with latest facilities.</li>
                              <li>The school cafeteria serving healthy &amp; balanced meals.</li>
                              <li>Air-conditioned libraries providing access to over 20,000 books.</li>
                              <li>Two well- equipped clinics with full-time doctors &amp; trained nurses.</li>
                              <li>The Atrium serving as a multi-utility area.</li>
                              <li>Yoga-rooms, gym, swimming-pool, splash-pool.</li>
                              <li>Sports- field, Conference Room.</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="elementor-section elementor-top-section elementor-element elementor-element-7041ba4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7041ba4" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-da1cf03" data-id="da1cf03" data-element_type="column">
                  <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                      <div class="elementor-element elementor-element-abd6840 elementor-widget elementor-widget-text-editor" data-id="abd6840" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                          <div class="elementor-text-editor elementor-clearfix">
                            <table width="1514">
                              <tbody>
                                <tr>
                                  <td style="text-align: center; vertical-align: middle;background-color:#ffedcc;" rowspan="5" width="520">GROUND FLOOR</td>
                                  <td width="994">A- BLOCK</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Kindergarten Activity Hall</td>
                                </tr>
                                <tr>
                                  <td width="520">Reception Area and Accounts Department</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="520">Principal’s Office</td>
                                </tr>
                                <tr>
                                  <td width="520">Class Nursery to I</td>
                                </tr>
                                <tr>
                                  <td rowspan="7" style="text-align: center; vertical-align: middle; " width="520">FIRST FLOOR</td>
                                  <td style="background-color:#F8F8F8" width="994">A- BLOCK</td>
                                </tr>
                                <tr>
                                  <td width="994">Management’s Office</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Teacher’s Resource Centre</td>
                                </tr>
                                <tr>
                                  <td width="994">Class Room ( II to VI )</td>
                                </tr>
                                <tr>
                                  <td width="994">Medical Room</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994"><span style="font-size: 15px; font-style: normal; font-weight: 400; background-color: rgb(255, 255, 255);">Library</span><br></td>
                                </tr>
                                <tr>
                                  <td width="994"><br></td>
                                </tr>
                                <tr>
                                  <td rowspan="9" style="text-align: center; vertical-align: middle;background-color:#ffedcc;" width="520">SECOND FLOOR</td>
                                  <td style="background-color:#F8F8F8" width="994">A- BLOCK</td>
                                </tr>
                                <tr>
                                  <td width="994">Computer Lab</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Chemistry, Biology and Physics Labs</td>
                                </tr>
                                <tr>
                                  <td width="994">Music Room</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Art &amp; Craft Room</td>
                                </tr>
                                <tr>
                                  <td width="994">Sports Room</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Social Science &amp; Math Lab</td>
                                </tr>
                                <tr>
                                  <td width="994">Examination Room</td>
                                </tr>
                                <tr>
                                  <td style="background-color:#F8F8F8" width="994">Class Room VII to X</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- .hmc-container -->
</div>
<!-- #content -->