<div class="tab-title">
 	<ul class="clearfix">
    <li>
      <a href="<%= welcome_about_us_path %>" class="active">About Us</a>
    </li>
    <li>
      <a href="javascript:avoid(0);">Achievements</a>
    </li>
    <li>
      <a href="javascript:avoid(0);">Academics</a>
    </li>
    <li>
      <a href="javascript:avoid(0);">Facilities</a>
    </li>
    <li>
      <a href="<%= welcome_about_us_path %>">Gallery</a>
    </li>
    <li>
      <a href="<%= welcome_prospectus_path %>" target="_blank">Prospectus</a>
    </li>
  </ul>
</div>
<style type="text/css">
	ul{
		list-style-type: none !important;
	}
</style>